@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
}
.Hero {
  @apply bg-cover bg-center bg-no-repeat;
}
/* util classes */
.container {
  @apply max-w-screen-xl mx-auto;
}
/* home icon animation */
.custom-link {
  position: relative;
}

.custom-link::before {
  background-color: white;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -5px;
  transform: scale(0);
  transition: 0.5s;
}

.custom-link:hover::before {
  transform: scale(1);
}

/* colors  */
.custom-link-white::before {
  background-color: #fff;
}
.custom-link-black::before {
  background-color: #000;
}
.nav-link {
  position: relative;
  margin-bottom: 20px;
}
.home-second-wrapper-tabs .nav-tabs {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 35px;
}

.home-second-wrapper-tabs .nav-tabs .nav-link.active {
  position: relative;
  color: #6c2be2;
  border: none;
}

.home-second-wrapper-tabs .nav-tabs .nav-link:hover {
  color: #6c2be2;
}

.home-second-wrapper-tabs .nav-tabs .nav-link::before {
  background-color: #6c2be2;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  transform: scale(0);
  transition: 0.5s;
}
.home-second-wrapper-tabs .nav-tabs .nav-link.active::before,
.home-second-wrapper-tabs .nav-tabs .nav-link:hover::before {
  transform: scale(1);
}

.custom_overflow_div::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.custom_overflow_div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.custom_overflow_div::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
}

.custom_overflow_div::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

/* Firefox */
.custom_overflow_div {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track */
}

.animate-btn {
  font-size: 12px;
  font-weight: 600;
  /* color: #000; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  /* width: 230px; */
  transition: 0.5s;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;
}

.animate-btn::after {
  content: "";
  position: absolute;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  z-index: -1;
  right: 0;
}
.animate-btn:hover {
  color: #000;
}
.animate-btn:hover.animate-btn::after {
  transform: scaleX(1);
}

.animate-btn-yellow {
  color: #000;
}
.animate-btn-yellow::after {
  background-color: #f1f1f1;
}
.animate-btn-white {
  color: #000;
}
.animate-btn-white::after {
  background-color: #fbed35 !important;
}

/* card wrapper */
.animate-box-border {
  /* border: 3px solid #e0e0e0; */
  /* width: 16%; */
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.animate-box-border::after {
  content: "";
  position: absolute;
  background-color: #6c2be2;
  width: 2px;
  height: 100%;
  right: -3px;
  top: 0%;
  transform: scale(0);
  transition: 0.5s;
}
.animate-box-border::before {
  content: "";
  position: absolute;
  background-color: #6c2be2;
  width: 2px;
  height: 100%;
  left: -3px;
  top: 0;
  transform: scale(0);
  transition: 0.5s;
}

.animate-box-border:hover::after,
.animate-box-border:hover::before {
  transform: scale(1);
}

.animate-border-down,
.animate-border-top {
  position: relative;
  width: 100%;
}

.animate-border-top::before {
  content: "";
  position: absolute;
  background-color: #6c2be2;
  width: 102%;
  height: 2px;
  left: 0px;
  right: 0;
  top: -26px;
  margin: 0 auto;
  transition: 0.5s;
  transform: scale(0);
}
.animate-border-bottom::before {
  content: "";
  position: absolute;
  background-color: #6c2be2;
  width: 102%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  transform: scale(0);
  transition: 0.5s;
}

.animate-box-border:hover > .animate-border-top::before {
  transform: scale(1);
}
.animate-box-border:hover > h1 {
  color: #6c2be2;
}
.animate-box-border:hover > .animate-border-bottom::before {
  transform: scale(1);
}

.home-banner-wrapper-laptop {
  /* position: absolute;
  right: 5%;
  bottom: 17px; */
  animation: up-down 1s infinite alternate;
}
/* HOME SECTION BTN */

.home-btn {
  font-size: 16px;

  color: #fff;

  font-weight: 400;

  letter-spacing: 0.7px;

  width: 285px;

  height: 52px;

  background-color: #6c2be2;

  display: inline-flex;

  align-items: center;

  justify-content: space-between;

  padding: 0px 0px 0px 38px;

  position: relative;

  z-index: 2;
}

.home-btn::before {
  content: "";

  position: absolute;

  background-color: #fbed35;

  width: 0px;

  height: 100%;

  right: 54px;

  z-index: -1;

  transform: scaleX(1);

  transform-origin: right;

  transition: 0.6s;
}

.home-btn:hover.home-btn::before {
  width: 231px;
}

.home-btn::after {
  content: "";
  position: absolute;
  background-color: #6c2be2;
  width: 0px;
  height: 52px;
  right: 0;
  z-index: 1;
  transform: scaleX(1);
  transform-origin: right;
  transition: 0.8s;
}

.home-btn:hover.home-btn::after {
  width: 54px;
}
.home-btn i img {
  position: relative !important;
  z-index: 2 !important;
  filter: drop-shadow(2px 4px 6px black) !important;
}

.home-btn i {
  background-color: #fbed35;
  width: 54px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 575px) {
  .home-btn {
    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    width: 200px;

    height: 42px;

    padding: 0px 0px 0px 15px;
  }

  .home-btn:hover.home-btn::before {
    display: none;
  }

  .home-btn i {
    width: 40px;

    height: 42px;

    font-size: 12px;
  }
}

.home-wrapper-dot-01 {
  position: absolute;

  left: 0;

  top: 33%;

  animation: left-move 2.5s infinite alternate;
}

.home-wrapper-dot-02 {
  position: absolute;

  right: 0;

  top: 33%;

  animation: right-move 2.5s infinite alternate;
}

/* package-scroolblar */
.packages-custom-scroll::-webkit-scrollbar-track {
  border: 1px solid #e6e6e6;

  background-color: #fff;
}

.packages-custom-scroll::-webkit-scrollbar {
  box-shadow: inset 0 0 10px 10px green;

  width: 14px;

  background-color: #f5f5f5;
}

.packages-custom-scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0px 0px 0px 4px #fff;

  background-color: #919191;

  border: 0px solid #ffffff;
}

/* animation key frames */

@keyframes left-move {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-25px);
  }
}
@keyframes right-move {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(25px);
  }
}

@keyframes rotate-circle {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-25px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}
